---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Agaves">
  <div class="hero">
    <h1>Agaves del Caribe</h1>
  </div>
  <section class="cards">
    <Card
      title="Doña Camila"
      subtitle="Doña Camila Silver, Doña Camila Pink, Doña Camila Gold, Doña Camila Dark Chocolate, Doña Camila Fire, Doña Camila Gold con Gusano"
      href="/destilados-agave#dona-camila"
      image="/dona-camila-grupo.png"
    />
    <Card
      title="El Comandante"
      subtitle="El Comandante Silver, El Comandante Gold, El Comandante Gold con Gusano"
      href="/destilados-agave#el-comandante"
      image="/comandante-grupo.png"
    />
    <Card
      title="Diputado"
      subtitle="Diputado Silver, Diputado Gold, Diputado Gold con Gusano"
      href="/destilados-agave#diputado"
      image="/diputado-grupo.png"
    />
    <Card
      title="Frida Katrina"
      subtitle="Frida Katrina LGBT, Frida Katrina Gold, Frida Katrina Gold con Gusano, Frida Katrina Silver, Frida Katrina Pink"
      href="/destilados-agave#frida-katrina"
      image="/katrina-group.png"
    />
    <Card
      title="Espinazo del Diablo"
      subtitle="Espinazo del diablo Silver, Espinazo del Diablo con Gusano"
      href="/destilados-agave#espinazo-del-diablo"
      image="/espinazo-group.png"
    />
  </section>
</Layout>
