---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Lightbox from "../components/Lightbox.astro";
import AgeGate from "../components/AgeGate.astro";
import { withBase } from "../lib/base";
import "../styles/global.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href={withBase("/favicon.svg")} />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Playfair+Display:wght@500;700&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <AgeGate />
    <Header />
    <slot />
    <Footer />
    <Lightbox />
  </body>
</html>
